// Colors
$color-heading: #262626;
$color-text: #404040;
$color-text-secondary: #00000080;
$color-disabled: #a6a6a6;
$color-deviders: #e8e8e8;
$color-bg: #ebeef3;
$color-table-header: #fafafa;
$color-primary: #1890ff;
$color-info: #1890ff;
$color-success: #52c41a;
$color-processing: #1890ff;
$color-error: #f5222d;
$color-highlight: #f5222d;
$color-warning: #faad14;
$color-normal: #d9d9d9;
$color-disabled-dark: #ffffff;
$color-bg-base: #ffffff;
$color-border-base: #d9d9d9;
$color-btn-primary: #ffffff;

//Fonts
$font-family: 'Inter', sans-serif;

$font-size-sm: 12px;
$font-size-base: 14px;
$font-size-lg: 16px;
$font-size-h1: 44px;
$font-size-h2: 56px;
$font-size-h3: 30px;
$font-size-h4: 24px;
$font-size-h5: 20px;
$font-size-h6: 18px;

$font-weight-main: 400;
$font-weight-bold: 500;

$line-height-base: 22px;
$line-height-h1: 76px;
$line-height-h2: 64px;
$line-height-h3: 36px;
$line-height-h4: 32px;
$line-height-h5_h6: 28px;

//Text
$text-upper: uppercase;

//Shadows
$box-shadow: 0px 4px 12px 0px #00000026;
